<% provide(:title, 'Sign In') %>

<h1>Sign in to Message Mod!</h1>

<div>
  <%= form_for(:sessions, url: sessions_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'Sign in' %>
  <% end %>
</div>